<div class="row">
  <div class="col-md-8">
    <h3>Post List</h3>
    <div>
      <a href="#" class="btn btn-primary my-3" [routerLink]="['/posts/add']">Add Post</a>
    </div>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of posts">
          <th scope="row">{{p.id}}</th>
          <td>{{p.title}}</td>
          <td>{{p.description}}</td>
          <td>
            <a [routerLink]="['/posts/edit',p.id]" class="btn btn-primary">Update</a>
            <button class="btn btn-primary mx-2" (click)="delete(p)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>