<div class="row">
  <h2>Add Post</h2>
  <hr />
  <div class="col-md-12">
    <form [formGroup]="addPostForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" formControlName="description">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!addPostForm.valid">Submit</button>
    </form>
  </div>
</div>